$ga-brand-dark: #00004b;
$ga-brand-midtone: #3930b1;
$ga-brand-light: #24b8ce;
$grey-dark: #767676;
$grey-light: #efefef;
$white: #ffffff;
$black: #000000;
$secondary-blue-light: #2d85e5;
$secondary-blue: #12355b;
$secondary-violet-light: #9191db;
$secondary-violet: #746ec8;
$secondary-dark: #091a12;
$error: #e63137;
$warning: #f3a905;
$success: #5bbb84;
$facebook-brand: #1877f2;
$microsoft-font: #5e5e5e;
$microsoft-border: #8c8c8c;
$google-brand: #70757a;
