@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Roboto+Mono&family=Roboto:wght@400;700&display=swap');

:root {
	font-size: 16px !important;
}

h1 {
	@include font-family('Baloo 2', 2.618rem, $secondary-blue, 700);
	letter-spacing: -0.03em;
	line-height: 2.618rem;
	position: relative;

	span {
		&.highlighted {
			background: linear-gradient(
				90deg,
				$ga-brand-light,
				$ga-brand-midtone,
				$ga-brand-light
			);
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
			background-size: 300%;
			background-position: -150%;
			animation: grooveText 5s infinite alternate-reverse;
		}
	}

	&::after {
		content: '';
		position: relative;
		width: 13%;
		display: block;
		height: 5px;
		background-color: $secondary-blue;
		border-radius: 5px;
		left: 0;
		bottom: -1.618rem;
	}
}

.text-center {
	h1 {
		&::after {
			width: 8%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.text-lg-start {
	h1 {
		&::after {
			@include respond-to($lg) {
				left: 0;
				transform: none;
			}
		}
	}
}

h2 {
	@include font-family('Roboto', 1.618rem, $secondary-blue, 700);
}

h3 {
	@include font-family('Roboto', 1rem, $secondary-blue, 700);
	line-height: 1.618rem;
}

h4 {
	@include font-family('Roboto', 0.75rem, $secondary-blue, 700);
	line-height: 0.75rem;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	margin-bottom: 0;
}

h5 {
	@include font-family('Roboto', 1rem, $secondary-blue, 700);
	line-height: 1.2em;
	margin-bottom: 0;
}

p {
	@include font-family('Roboto', 1rem, $grey-dark, 400);
	line-height: 1.618rem;

	&.highlighted {
		padding: 0.618em 1.618em;
		border-radius: 1.618rem;
		font-size: 1rem;
		line-height: 1.618em;

		@include respond-to($lg) {
			padding: 1.618em 2.618em;
			font-size: 1.618rem;
		}

		&.violet {
			color: $ga-brand-midtone;
			background-color: lighten($ga-brand-midtone, 50%);
		}
	}

	&.small {
		font-size: 0.8rem;
		line-height: 1.2;
	}

	&.link {
		color: $ga-brand-light;
		text-decoration: underline;
	}
}

a {
	color: $ga-brand-light;
	@include transition(color, 0.15s, ease-in-out);

	&:hover {
		color: $ga-brand-midtone;
	}
}

strong {
	&.pill {
		@include font-family('Roboto', 0.618rem, $ga-brand-dark, 700);
		text-transform: uppercase;
		letter-spacing: 0.1em;
		padding: 0.382em 1em;
		border-radius: 5px;
		display: inline-block;

		&.grey {
			color: $secondary-dark;
			background-color: rgba($secondary-dark, 0.2);
		}

		&.blue {
			color: $secondary-blue-light;
			background-color: rgba($secondary-blue-light, 0.2);
		}

		&.cyan {
			color: $ga-brand-light;
			background-color: rgba($ga-brand-light, 0.2);
		}

		&.violet {
			color: $ga-brand-midtone;
			background-color: lighten($ga-brand-midtone, 50%);
		}

		&.white {
			color: $white;
			background-color: rgba($white, 0.2);
		}

		&.pill-xl {
			display: inline-block;
			@include font-family('Baloo 2', 2.618rem, $secondary-violet, 400);
			line-height: 2.618rem;
			letter-spacing: -0.03em;
			padding: 0.618rem;
			text-align: center;
			margin-bottom: 1.618rem;
		}
	}
}

label {
	@include font-family('Roboto', 1rem, $grey-dark, 400);
}

.form-control {
	@include font-family('Roboto', 1rem, $ga-brand-dark, 400);

	&::placeholder {
		@include font-family('Roboto', 1rem, $grey-dark, 400);
	}
}

.small,
small {
	@include font-family('Roboto', 0.75rem, $grey-dark, 400);
	line-height: 1;
}
