.breadcrumb {
	.breadcrumb-item {
		@include font-family('Roboto', 0.75rem, $grey-dark, 700);
		line-height: 0.75rem;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		margin-bottom: 0;
		padding-left: 1em;

		&:first-child {
			padding-left: 0;
		}

		&:nth-child(2) {
			&::before {
				display: none;
			}
		}

		a {
			color: $grey-dark;
		}
	}
}
