.form-check {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 0;
	width: 100%;
	margin-bottom: 0.5rem;

	label {
		&.checkbox {
			font-size: 0.875rem;
			cursor: pointer;
			margin: 0;
			position: relative;
			width: 100%;
			display: flex;
			align-items: center;

			input {
				width: 100%;
				height: 100%;
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				margin: 0;
				float: none;
				cursor: pointer;
				z-index: 2;

				&:checked {
					& + .outer {
						background-color: $ga-brand-midtone;
						border-color: $ga-brand-midtone;

						.inner {
							&::before {
								width: 6px;
							}
							&::after {
								width: 10px;
							}
						}
					}
				}
			}

			.outer {
				width: 1.125rem;
				height: 1.125rem;
				display: block;
				margin: 0 0.5rem 0 0;
				border: 2px solid $grey-dark;
				background-color: $white;
				border-radius: 0.25rem;
				position: relative;
			}

			.inner {
				width: 1rem;
				height: 1rem;
				position: relative;
				margin: 0;
				padding: 0;
				overflow: hidden;
				display: block;

				&::before,
				&::after {
					content: '';
					width: 0px;
					height: 3px;
					position: absolute;
					background-color: $white;
					margin: 0;
					padding: 0;
					transform-origin: bottom left;
					@include transition(all, 0.06s, ease-in);
				}

				&::before {
					top: 5px;
					left: 1px;
					transform: rotate(42deg);
				}
				&::after {
					top: 9px;
					left: 6px;
					transform: rotate(-48deg);
					transition-delay: 0.06s;
				}
			}
		}

		span {
			color: $grey-dark;
			@include font-family('Roboto', 1rem, $grey-dark, 400);
		}
	}
}
