.nav-tabs {
	border-bottom: 2px solid rgba($ga-brand-dark, 20%);
	@include font-family('Roboto', 1rem, $grey-dark, 400);
	border-width: 2px;

	.nav-item {
		margin-bottom: -1px;

		.nav-link {
			color: $grey-dark;
			border-radius: 0;

			&:hover {
				border-color: transparent;
			}

			&:disabled {
				opacity: 0.4;
			}

			&.active {
				background-color: transparent;
				border-color: transparent;
				border-bottom: 2px solid $ga-brand-light;
				font-weight: 700;
				color: $ga-brand-dark;
			}
		}
	}
}

.tab-content {
	padding-top: 2rem;
}
