.dropdown-filter {
	padding: 1rem;
	overflow: hidden;

	@include respond-to($md) {
		min-width: 32rem;
	}

	h4 {
		color: $grey-dark;
		margin-bottom: 1rem;
	}

	.filters-list-wrapper {
		width: 12rem;

		.filters-list {
			width: 100%;
			height: 16rem;
			overflow-y: scroll;
			border-right: 1px solid $grey-light;
			padding-right: 0.5rem;
		}
	}

	.filters-selected-wrapper {
		display: none;

		@include respond-to($md) {
			justify-content: flex-start;
			display: flex;
			gap: 0.5rem;
			width: 24rem;
			height: 16rem;
			overflow: scroll;
			flex-wrap: wrap;
			align-items: center;
			align-content: flex-start;
		}
	}
}
