.shared-users-list {
	overflow-y: scroll;
	max-height: 16rem;

	.shared-user-item {
		display: flex;
		width: 100%;
		justify-content: space-between;
		padding: 1rem 0;
		border-bottom: 1px solid $grey-light;

		&:last-child {
			border-bottom: none;
		}

		.shared-user {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1rem;

			.shared-user-photo {
				width: 2rem;
				height: 2rem;
			}

			.shared-user-name-email {
				display: flex;
				flex-direction: column;

				.shared-user-name {
					@include font-family('Roboto', 1rem, $secondary-dark, 400);
				}

				.shared-user-email {
					@include font-family('Roboto', 0.75rem, $grey-dark, 400);
				}
			}
		}
	}
}
